/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600,300italic,700italic);
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/*********************************************
 * GLOBAL STYLES
 *********************************************/
:root {
  --background-color: #fff;
  --main-font: Lato, sans-serif;
  --main-font-size: 40px;
  --main-color: #000;
  --block-margin: 20px;
  --heading-margin: 0 0 20px 0;
  --heading-font: Source Sans Pro, Impact, sans-serif;
  --heading-color: #000;
  --heading-line-height: 1.2;
  --heading-letter-spacing: normal;
  --heading-text-transform: none;
  --heading-text-shadow: none;
  --heading-font-weight: normal;
  --heading1-text-shadow: none;
  --heading1-size: 3.77em;
  --heading2-size: 2.11em;
  --heading3-size: 1.55em;
  --heading4-size: 1em;
  --code-font: monospace;
  --link-color: #00008B;
  --link-color-hover: #0000f1;
  --selection-background-color: rgba(0, 0, 0, 0.99);
--selection-color: #fff; }

.reveal-viewport {
  background: #fff;
  background-color: #fff;
}

.reveal {
	font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: normal;
color: #000; }

.reveal ::selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
text-shadow: none; }

.reveal ::-moz-selection {
  color: #fff;
  background: rgba(0, 0, 0, 0.99);
text-shadow: none; }


/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #000;
	font-family: 'Poppins', sans-serif;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: 0.02em;
  text-transform: none;
  text-shadow: none;
word-wrap: break-word; }

.reveal h1 {
  font-size: 2.2em;
  font-weight: 600;
}

.reveal h2 {
	font-size: 1.2em;
	font-weight: 600;
	color: #00206F;
	line-height: 2.7rem;
}

.reveal h3 {
	font-weight: 600;
	color: #1359CC;
	font-size: 1.1em; }

.reveal h4 {
font-size: 1em; }

.reveal h1 {
text-shadow: none; }


/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3;
}

/* Remove trailing margins after titles */
.reveal h1:last-child,
.reveal h2:last-child,
.reveal h3:last-child,
.reveal h4:last-child,
.reveal h5:last-child,
.reveal h6:last-child {
margin-bottom: 0; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 90%;
  max-height: 90%;
}

.reveal strong,
.reveal b {
  font-weight: bold;
}

.reveal em {
font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em;
}

/* adjusting list spacing */
.reveal li {
  margin: 1rem 0 0 0;
}

.reveal ol {
list-style-type: decimal; }

.reveal ul {
list-style-type: disc; }

.reveal ul ul {
list-style-type: circle; }

.reveal ul ul ul {
list-style-type: square; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
margin-left: 40px; }

.reveal dt {
font-weight: bold; }

.reveal dd {
margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 60%;
  margin: 20px auto;
  padding: 7vh;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
}


.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
display: inline-block; }

.reveal q {
font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); }

.reveal code {
  font-family: monospace;
text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
border-spacing: 0; }

.reveal table th {
font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
border-bottom: none; }

.reveal sup {
  vertical-align: super;
font-size: smaller; }

.reveal sub {
  vertical-align: sub;
font-size: smaller; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
vertical-align: top; }

.reveal small * {
vertical-align: top; }

.reveal img {
margin: 20px 0; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #909090;
  text-decoration: none;
transition: color .15s ease; }

.reveal a:hover {
  color: #31509E;
  text-shadow: none;
border: none; }

.reveal .roll span:after {
  color: #fff;
background: #00003f; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 50px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 3px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal section img.plain {
  border: 0;
box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #42affa;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * Frame helper
 *********************************************/
.reveal .r-frame {
  border: 4px solid #000;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal a .r-frame {
transition: all 0.15s linear; }

.reveal a:hover .r-frame {
  border-color: #00008B;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
color: #1740A5; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
color: #00008B; }

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
  .backgrounds {
background-color: #fff; } }

html {
font-size: 2.25vmin; }

@media (max-width: 768px) {
  html {
font-size: 16px; } }

@media (max-width: 568px) {
  html {
font-size: 14px; } }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
word-wrap: normal; }

.reveal[class*="pattern--"] {
  background-position: center center;
background-size: 133vmax auto; }

.reveal.pattern--eth {
background-image: url("./figures/eth_background.jpg"); }
.reveal.pattern--eth .slides section.title {
background-color: #0F6FE0; }
.reveal.pattern--eth .progress {
color: #0D498E; }
.reveal.pattern--eht .controls {
color: #0D498E; }

.reveal .slides section {
  height: 100%;
  margin: 0;
  width: 100%;
color: #2A2A49; }
.reveal .slides section:not([class*='color--']) {
background-color: #FFFFFF; }
.reveal .slides section.stack {
background-color: transparent; }

.reveal .slides section .wrapper-header {
  box-sizing: border-box;
  grid-column-gap: 10vmin;
  grid-row-gap: 5vmin;
  grid-template-areas: "header" "title" "description";
  grid-template-rows: 4.5vmin 1fr;
  min-height: 100%;
  padding: 3vh 4vw 1vh 4vw;
}

.reveal .slides section .wrapper-footer {
  display: grid;
  box-sizing: border-box;
  grid-row-gap: 1vmin;
  grid-template-areas: "title" "description" "footer";
  grid-template-rows: 4.5vmin 1fr 4vmin;
  min-height: 100%;
  padding: 3vh 4vw 1vh 4vw;
}
.reveal .slides section .header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-between;
}

/* ----------------------------------------------------------- */
/* footer design */
.reveal .slides section .footer {
  align-items: center;
  display: flex;
  grid-area: footer;
  justify-content: space-between;
}

.reveal .slides section .logo-eth{
  display: flex;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("./figures/eth_logo_kurz_pos.svg");
  height: 1.5vw;
  width: 10vw;
}
.reveal .slides section .logo-ifd{
  display: flex;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("./figures/ifd_logo_pos.svg");
  height: 2.5vw;
  width: 7vw;
}

.reveal .slides section .b-title{
  display: flex;
  color: gray;
  font-size: 1.7vw;
  font-weight: 600;
}
/* ----------------------------------------------------------- */

.reveal .slides section h1 {
  align-self: center;
  grid-area: title;
  text-align: left;
  font-size: 4.5vh;
  margin-top: 6vh;
  color: #1740A5;
}

.reveal .slides section .description {
  color: #001D64;
  grid-area: description;
  margin-top: 1.2vh;
  text-align: left;
  font-size: 4vh;
	overflow-x: hidden;
	overflow-y: auto;
	height: 84vh;
}
::-webkit-scrollbar{
	width: 0.7vw;
}
::-webkit-scrollbar-track {
	border: 3px solid white;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
	border: 3px solid white;
  background: #D5E1FE;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7D93CA;
}

.reveal .slides section .description hr {
  border: solid #1740A5;
  border-width: 0.4vh 0 0 0;
  margin: 1vh 0 2vh 0;
}

/* Usually quote defined in class="description" */
.reveal .slides section .description blockquote hr {
  border: solid #1740A5;
  border-width: 0.2vh 0 0 0;
  margin: 0 0 5vh 0;
}

.reveal .slides section .description img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  height: 55vh;
}

.reveal .slides section .row:after {
  content: "";
  display: table;
  clear: both;
}

.reveal .slides section .section {
  text-transform: uppercase;
  line-height: 4.5vmin;
  font-size: 0.6em;
font-weight: bold; }
.reveal .slides section:not([class*="color--"]) .section {
color: #9292A8; }
.reveal .slides section .content {
  align-self: center;
grid-area: content; }
.reveal .slides section.color--dark .section {
color: #EEEDEF; }

/* TITLE PAGE */
.reveal .slides section.title {
  height: calc(100vh - 14vmin);
  margin: 4vmin;
  width: calc(100vw - 8vmin);
  color: #E0E0E0;
  margin-left: 25vw;
width: calc(100vw - 4vmin - 25vw); }
.reveal .slides section.title .grid-wrapper {
  grid-template-areas: "header header" "content content" ". credit";
  grid-template-columns: auto 80%;
  grid-template-rows: 6vmin 1fr auto;
grid-column-gap: 10vmin; }
.reveal .slides section.title .logo-eth{
  background-image: url("./figures/eth_logo_kurz_pos_inverted.svg");
  height: 4.5vw;
	width: 15vw;
}
.reveal .slides section.title .logo-ifd {
  background-image: url("./figures/ifd_logo_pos_inverted.svg");
  height: 2.8vw;
	width: 7vw;
}

.reveal .slides section.title .content {
  margin-top: 20vh;
  align-self: center;
  grid-area: content;
}
.reveal .slides section.title h1 {
  text-align: center;
  color: #E0E0E0;
  font-size: 6.5vh;
}
.reveal .slides section.title h2 {
  text-align: right;
  color: #E0E0E0;
  font-size: 5vh;
	font-weight: 400;
	font-style: italic;
}
.reveal .slides section.title .credit {
  align-self: end;
  grid-area: credit;
  margin-top: 15vh;
line-height: 1.8em; }
.reveal .slides section.title .credit hr {
  border: solid #E0E0E0;
  border-width: 1px 0 0 0;
  margin: 0 0 1.5vh 0;
width: 100%; }
.reveal .slides section.title .credit .label {
  font-size: 60%;
text-transform: uppercase; }
.reveal .slides section.title .credit .name {
  text-align: right;
  font-size: 3.5vh;
font-weight: bold; }

.reveal .slides section.color--ifd {
  background-color: #FFFFFF;
color: #FFFFFF; }


.reveal .slides section.end {
  height: 85vh;
  margin: 3vh 0 0 3vw;
  width: 94vw;
  font-size: 5vw;
}
.reveal .slides section.end .text{
  margin-top: 40vh;
}

#two-terminal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  float: left;
  margin-left: auto;
}

#content {
  margin-top: 3em;
}

#content ul,
#content li{
  margin-top: 1em;
  margin-left: 1.5em;
}

.MathJax{
	font-size: 0.9em !important;
}
